<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<h1>{{ fileName }}</h1>

<table>
  <tr>
    <td>Temps total de traitement</td>
    <td>{{ totalTimeDuration }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats trouvés</td>
    <td>{{ countCaseProcessed }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats traités</td>
    <td>{{ countCaseSuccessProcessed }}</td>
  </tr>
  <tr>
    <td>Nombre de contrat résiliés</td>
    <td>{{ countCaseProductTerminated }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats non résilié mais avec le produit Accès Santé radié</td>
    <td>{{ countCaseContractWithProductACS }}</td>
  </tr>
</table>

</body>
</html>
