<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<h1>{{ fileName }}</h1>

<table>
  <tr>
    <td>Temps total de traitement</td>
    <td>{{ totalTimeDuration }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats trouvés</td>
    <td>{{ countCaseFindIntoExcel }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats traités</td>
    <td>{{ countCaseSuccessProcessed }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats non traités</td>
    <td>{{ countCaseFailProcessed }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats renvoyés en centre</td>
    <td>{{ countCaseBackToCenter }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats prêts à être résiliés</td>
    <td>{{ countCaseReadyToRemove }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats résiliés</td>
    <td>{{ countCaseProductTerminated }}</td>
  </tr>
</table>

</body>
</html>
