<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<h1>{{ nomFichier }}</h1>

<table>
  <tr>
    <td>Temps total de traitement</td>
    <td>{{ dureeTraitement }}</td>
  </tr>
  <tr>
    <td>Nombre de lignes du fichier en entrée trouvées</td>
    <td>{{ nbCasTrouveDsExcel }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats traités</td>
    <td>{{ nbCasTraitementSucces }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats non traités</td>
    <td>{{ nbCasTraitementEchec }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats renvoyés en centre</td>
    <td>{{ nbCasRevoirCentre }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats prêts à être résiliés</td>
    <td>{{ nbContratsPretsPrResiliation }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats résiliés</td>
    <td>{{ nbContratsResilies }}</td>
  </tr>
</table>

</body>
</html>
