<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<h1>{{ fileName }}</h1>

<table>
  <tr>
    <td>Temps total de traitement</td>
    <td>{{ totalTimeDuration }}</td>
  </tr>
  <tr>
    <td>Nombre d'adhésions trouvés</td>
    <td>{{ countCaseFindIntoPivot }}</td>
  </tr>
  <tr>
    <td>Nombre d'adhésions traités</td>
    <td>{{ countCaseProcessed }}</td>
  </tr>
  <tr>
    <td>Nombre d'adhésions traités avec Warnings</td>
    <td>{{ countCaseProcessedWithWarning }}</td>
  </tr>
  <tr>
    <td>Nombre de contrats non traités</td>
    <td>{{ countCaseFailProcessed }}</td>
  </tr>
</table>

</body>
</html>
